*{
  box-style: border-box;
}

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidenav {
  overflow: hidden;
  height: 100%;
  background-color: #1f1f1f;
  color: #fff;
  position: fixed;
  padding-left: 25px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  list-style: none;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.navbar-header{
  line-height: 40px;
  font-size: 35px;
  padding: 0;
}

.navbar-btn{
  position: relative;
  top: 1rem;
}

.roomname{
  margin-left: 10px;
}

.message-content {
  padding-left: 15px;
  padding-bottom: 10px;
}

.message-window {
  overflow-y: auto;
  height: 80%;
  padding: 10px;
  display:block;
  margin: 0;
}

.message-bar {
  position: fixed;
  padding-left: 3px;
  bottom: 0;
  width: inherit;
}

.message-bar button{
  position: relative;
  bottom: 7.5px;
}

.form-container{
  padding-bottom: 15px;
}

.chatroom,
.chatroom.row-fluid {
  padding: 0;
  margin: 0;
}
