*{
  margin: 0;
  padding: 0;
  box-style: border-box;
}

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidenav {
  overflow: hidden;
  height: 100%;
  background-color: #1f1f1f;
  color: #fff;
  position: fixed;
  padding-left: 25px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  list-style: none;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.navbar-header{
  line-height: 40px;
  text-align: center;
  font-size: 35px;
}

.navbar-btn{
  position: relative;
  left: 1rem;
  top: 2rem;
}

.message-content {
  margin-left: 20px;
}

.message-window {
  overflow: auto;
  height: 80%;
  padding-top: 10px;
  display:block;
}

.message-bar {
  position: fixed;
  bottom: 0;
  width: inherit;
}

.navbar-header, .navbar-btn {
  display: block;
}

.form-container{
  padding-bottom: 15px;
}
