* {
  box-sizing: border-box;
/*border: 2px solid red*/
}

body {
  font-family: Arial, sans-serif;
  min-height: 100%;
}

.navbar {
  padding: 10px;
  background-color: rgb(0,0,129);
  height: 100%;
}

.navbar h1 {
  color: white;
  display: inline-block;
}

.chatroom-button {
  position: relative;
  left: 0.75rem;
  bottom: 0.5rem;
  display: inline-block;
}

.chatroom-list {
  width: 100%;
}

.chatroom-list a {
  font-size: 2rem;
  color: rgb(210,210,200);
  text-decoration: none;
}

.chatroom-window .message-bar {
  height: 1.5rem;
  position: fixed;
  bottom: 0;
}

.message-window, .message-bar {
  padding-left: 20px;
}

.message-bar input {
  margin-right: 5px;
}

.bold {
}
