<div class="container-fluid">
  <div class="row fill">
    <nav class="navbar navbar-left sidenav col-sm-3">
      <div class="row-fluid clearfix">
        <h1 class="navbar-header col-sm-7">Bloc Chat</h1>
        <button class= "btn btn-default navbar-btn btn-lg col-sm-4" ng-click="home.open()">New Chat</button>
      </div>
      <div class="row sidebar-nav">
        <ul ng-repeat="room in home.roomarray">
          <li><a href="#" ng-click="home.messages.getByRoomId(room)">{{room.$value}}</a></li>
        </ul>
      </div>
    </nav>

    <!--Chatroom section-->
    <div class="col-sm-9 col-sm-push-3 chatroom container-fluid">
      <div class="row-fluid page-header">
        <h1 class="roomname">{{home.messages.currentRoom.$value}}</h1>
      </div>
    <!--Message WIndow-->
      <div class="row-fluid clearfix">
        <div class="message-window" ng-repeat="message in home.messages.currentMessages">
          <div class="row-fluid clearfix">
            <div class="col-sm-10">
              <h5>{{message.username}}</h5>
            </div>
            <div class="col-sm-2">
              <h6>{{message.sentAt | timecode}}</h6>
            </div>
          </div>

          <div class="row-fluid clearfix">
            <p class="message-content">{{message.content}}</p>
          </div>
        </div>
      </div>
    <!--Message Bar-->
      <div class="row-fluid message-bar clearfix ">
        <input class="col-sm-11" ng-model="home.newMessage" type="text" placeholder="Type Message Here">
        <button class="btn btn-default col-sm-1" ng-click="home.send()">Send</button>
      </div>
    </div>
  </div>
</div>
