<nav class="navbar">
  <h1>Bloc Chat</h1>

  <ng-include src="'/templates/room_modal.html'"></ng-include>
  <button class= "chatroom-button" ng-click="$ctrl.open()">New Chat</button>
  <div class="chatroom-list" ng-repeat="room in home.roomarray">
    <a>{{room.$value}}</a>
  </div>
</nav>

<div class="chatroom-window">
  <div class="message-window"></div>
  <div class="message-bar">
    <input id="message-text" type="text" placeholder="Type Message Here">
    <button id="send-button">Send</button>
  </div>

</div>
