<div class="container-fluid">
  <div class="row fill">
    <nav class="navbar navbar-left col-md-3">
      <div class="row">
        <h1 class="navbar navbar-header center-align">Bloc Chat</h1>
        <br>
        <button class= "btn btn-default navbar-btn" ng-click="home.open()">New Chat</button>
      </div>

      <div class="chatroom-list" ng-repeat="room in home.roomarray">
        <a href="#" ng-click="home.messages.getByRoomId(room)">{{room.$value}}</a>
      </div>
    </nav>

    <!--Chatroom section-->
    <div class="col-md-9">
      <div class="row-fluid panel">
        <h1>{{home.messages.currentRoom.$value}}</h1>
      </div>
    <!--Message WIndow-->
      <div class="row clearfix">
        <div class="message-window" ng-repeat="message in home.messages.currentMessages">
          <div class="row">
            <div class="col-sm-10 bold">
              <h5>{{message.username}}</h5>
            </div>
            <div class="col-sm-1">
              <h6>{{message.sentAt}}</h6>
            </div>
          </div>
          <div class="row">
            <p class="col-sm-10">{{message.content}}</p>
          </div>
        </div>
      </div>
    <!--Message Bar-->
      <div class="row message-bar clearfix">
        <input class="col-sm-10 center-align" ng-model="home.newMessage" type="text" placeholder="Type Message Here">
        <button class="btn btn-default col-sm-1" ng-click="home.messages.send(home.newMessage)">Send</button>
      </div>
    </div>
  </div>
</div>
